@use 'assets/styles/functions' as fn;
@use 'assets/styles/mixins' as m;

.team-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: fit-content;
  height: 100%;
  padding: var(--spacing-x3) var(--spacing-x4);
  border: var(--card-border);
  border-radius: var(--radius-sm);

  box-shadow: var(--shadow);

  &_rotate {
    transform: rotate(0deg);
    margin-left: 0;

    &.is-in-view {
      transform-origin: top center;
      animation: swing-in-card var(--transition-duration-card) cubic-bezier(0.45, 0.05, 0.55, 0.95)
        both;
    }
  }

  &__avatar {
    align-self: stretch;
    aspect-ratio: 1/1;
    height: 168px;
    @include m.media('s') {
      height: 180px;
    }
  }

  &__body {
    flex-grow: 1;
    margin: var(--spacing-x2) 0;
    hyphens: auto;
    text-align: justify;
  }

  &_link {
    display: inline-flex;

    ::ng-deep .button__text {
      font-size: fn.fluid(12px, 14px);
      font-weight: var(--fw-regular);
      line-height: 1.4;
      text-transform: lowercase;
    }
  }
}

@keyframes swing-in-card {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-7deg);
  }

  45% {
    transform: rotate(-2deg);
  }

  65% {
    transform: rotate(-6.5deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  92% {
    transform: rotate(-5.5deg);
  }

  100% {
    transform: rotate(-6deg);
  }
}
