@use 'assets/styles/mixins.scss' as m;

.header {
  position: sticky;
  z-index: 1000;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--header-height);
  padding-top: var(--spacing-x4);

  &__menu,
  &__system,
  &__actions {
    display: flex;
    align-items: center;
  }

  &__menu {
    gap: var(--spacing-x5);
  }

  &__system {
    gap: var(--spacing-x2);
    @include m.media('s') {
      display: none;
    }
  }

  &__actions {
    @include m.media('s') {
      display: none;
    }
  }
}

.mobile-nav-layout {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x5);
  align-items: flex-start;

  width: 100%;
  padding: var(--spacing-x4);
}

.mobile-nav-group {
  display: flex;
  gap: var(--spacing-x4);
  align-items: center;
}
