@use 'assets/styles/mixins' as mix;

.popover {
  position: absolute;
  inset: auto;
  inset-block-end: anchor(top);
  inset-inline-start: anchor(center);
  transform: translate(-50%, calc(-1 * var(--spacing-x2)));

  inline-size: max-content;
  max-inline-size: 300px;
  margin-block-end: calc(-1 * var(--spacing-x1));
  padding: 0 0 10px;
  border: none;

  opacity: 0;
  background: transparent;

  transition-behavior: allow-discrete;

  @include mix.transition((overlay, display, margin-block-end, opacity));

  &:popover-open {
    margin-block-end: 0;
    opacity: 1;

    @starting-style {
      margin-block-end: calc(-1 * var(--spacing-x1));
      opacity: 0;
    }
  }

  &__content {
    position: relative;

    padding: var(--spacing-x1) var(--spacing-x2);
    border-radius: var(--radius-xs);

    color: var(--primary-color);

    background-color: rgb(var(--secondary-color-rgb), 0.8);

    &::before {
      content: '';

      position: absolute;
      inset-block-start: 100%;
      inset-inline-start: 50%;
      transform: translateX(-50%);

      border-block-start: 10px solid rgb(var(--secondary-color-rgb), 0.8);
      border-inline-start: 11px solid transparent;
      border-inline-end: 11px solid transparent;
    }
  }
}
