@use 'assets/styles/mixins' as mix;

.library {
  margin-block-start: var(--spacing-x13);

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    margin-block: var(--spacing-x10);
  }

  &__list-item {
    max-width: 458px;

    @include mix.media('s') {
      max-width: 100%;
    }
  }
}
