@use 'assets/styles/mixins' as m;

.user__content {
  margin-top: var(--spacing-x10);
  padding: var(--spacing-x5) var(--spacing-x4);
  border: var(--card-border);
  border-radius: var(--radius-sm);

  box-shadow: var(--shadow);
}
