@use 'assets/styles/mixins' as m;

$accordion-max-width: 714px;
$icon-size: 24px;
$line-height: 3px;

:host {
  display: block;
  width: 100%;
}

.accordion-item {
  width: 100%;
  max-width: $accordion-max-width;
  border-bottom: 1px solid var(--secondary-color-light, var(--secondary-color));

  &__title {
    text-align: left;
    @include m.transition(color, var(--transition-duration-basic), var(--transition-easing-func));
  }

  &__header {
    cursor: pointer;

    display: block;

    width: 100%;
    padding: 0;

    text-align: left;

    @include m.hover {
      .accordion-item__icon span {
        background: var(--accent-color);
      }

      .accordion-item__title {
        color: var(--accent-color);
      }
    }
  }

  &__title-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: var(--spacing-x4) 0 var(--spacing-x5);
  }

  &__icon {
    position: relative;
    flex-shrink: 0;
    width: $icon-size;
    height: $icon-size;

    span {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%) rotate(0deg);

      display: block;

      width: 100%;
      height: $line-height;

      background: var(--secondary-color);
      @include m.transition(
        (transform, background),
        var(--transition-duration-basic),
        var(--transition-easing-func)
      );

      &:nth-child(1) {
        transform: rotate(90deg);
      }

      &:nth-child(2) {
        transform: rotate(0deg);
      }
    }

    &.is-open span {
      &:nth-child(1) {
        transform: rotate(0deg);
      }
    }
  }

  &__content-wrapper {
    overflow: hidden;
    display: grid;
    @include m.transition(
      grid-template-rows,
      var(--transition-duration-basic),
      var(--transition-easing-func)
    );
  }

  &__content {
    min-height: 0;
    visibility: hidden;
    opacity: 0;
    @include m.transition(
      (opacity, visibility),
      var(--transition-duration-basic),
      var(--transition-easing-func)
    );

    ::ng-deep p {
      padding: 0 var(--spacing-x2) var(--spacing-x5);
    }
  }

  &.is-open &__content {
    visibility: visible;
    opacity: 1;
  }
}
