@use 'assets/styles/mixins' as mix;

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.categories-page {
  &__header {
    display: flex;
    gap: var(--spacing-x4);
    align-items: end;
    justify-content: space-between;

    text-transform: capitalize;
  }

  &__category-card-list {
    margin-block: var(--spacing-x10);

    @include mix.media('s') {
      margin-block-start: var(--spacing-x7);
    }
  }

  &__empty {
    margin: auto;
  }

  &__refresh-button {
    margin-block-start: var(--spacing-x4);
  }
}
