@use 'assets/styles/mixins' as mix;

:host {
  display: block;
}

.answer-tile-group {
  &__code-snippet {
    margin-block-start: var(--spacing-x2);
  }

  &__alert {
    margin-block-start: var(--spacing-x5);

    @include mix.media('s') {
      gap: var(--spacing-x4);
      margin-block-start: var(--spacing-x4);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x5);
    margin-block-start: var(--spacing-x7);

    @include mix.media('s') {
      gap: var(--spacing-x4);
      margin-block-start: var(--spacing-x5);
    }
  }

  &__answer {
    justify-content: center;
  }
}
