:host {
  display: block;
}

.answer-tile-group {
  &__code-snippet {
    margin-block-start: var(--spacing-x2);
  }

  &__alert {
    margin-block-start: var(--spacing-x5);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x5);
    margin-block-start: var(--spacing-x7);
  }

  &__answer {
    justify-content: center;
  }
}
