@use 'assets/styles/mixins' as mix;

.challenge-preview-card {
  padding: var(--spacing-x6);
  border: 2px solid var(--secondary-color);
  border-radius: var(--radius-md);

  @include mix.media('s') {
    padding: var(--spacing-x4);
  }

  &__header {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    gap: var(--spacing-x2) var(--spacing-x3);
    align-items: center;

    @include mix.media('s') {
      grid-template-columns: 1fr max-content;
      align-items: flex-start;
    }
  }

  &__heading {
    grid-area: 1 / 2 / 2 / 3;
    overflow-wrap: anywhere;

    @include mix.media('s') {
      grid-column: 1 / 2;
    }
  }

  &__difficulty-badge {
    grid-area: 1 / 1 / 2 / 2;
    margin-block-end: auto;

    @include mix.media('s') {
      grid-column: 2 / 3;
    }
  }

  &__status-badge {
    grid-area: 1 / 3 / 2 / 4;
    flex-shrink: 0;
    margin-block-end: auto;
    margin-inline-start: auto;

    @include mix.media('s') {
      grid-area: 2 / 1 / 3 / 3;
      margin-inline-start: initial;
    }
  }

  &__body,
  &__footer {
    margin-block-start: var(--spacing-x3);
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-x1);
    margin-block-start: var(--spacing-x1);
  }
}
