:host {
  display: inline-flex;
}

.badge {
  &__button {
    padding: var(--spacing-x1) var(--spacing-x2);
    border-radius: var(--radius-sm);

    &:focus {
      outline: none;
    }

    &:focus-visible {
      border-radius: var(--radius-sm);
      outline: var(--button-border);
      outline-offset: 2px;
    }

    // TODO: think on color variables
    &_senior {
      background-color: gold;
    }

    &_middle {
      background-color: silver;
    }

    &_junior {
      background-color: lightcoral;
    }

    &_trainee {
      background-color: pink;
    }
  }
}
