:host {
  display: inline-flex;
}

.badge {
  display: inline-flex;
  font-family: inherit;
  color: currentcolor;

  &__button {
    padding: var(--spacing-x1) var(--spacing-x2);
    border-radius: var(--radius-sm);
    text-transform: capitalize;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      border-radius: var(--radius-sm);
      outline: var(--button-border);
      outline-offset: 2px;
    }

    &_in-progress {
      background-color: var(--in-progress-color);
    }

    &_senior {
      background-color: var(--senior-color);
    }

    &_middle {
      background-color: var(--middle-color);
    }

    &_junior {
      background-color: var(--junior-color);
    }

    &_trainee {
      background-color: var(--trainee-color);
    }
  }
}
