@use '@angular/material' as mat;
@use './reset';
@use './variables';
@use './placeholders';
@use './mixins';
@use './functions';

:root {
  --transition-duration-basic: 0.3s;
  --transition-easing-func: ease-in-out;
  --primary-color: #ececec;
  --secondary-color: #222;
  --accent-color: #ff6900;
  --error-color: #9b3737;
  --success-color: #357a55;
}

[data-theme='dark'] {
  --primary-color: #181e22;
  --secondary-color: #ececec;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--primary-color);
}
