@use '@angular/material' as mat;
@use './reset';
@use './variables';
@use './placeholders';
@use './mixins';
@use './functions';
@use './typography';

:root {
  --transition-duration-basic: 0.3s;
  --transition-easing-func: ease-in-out;
  --primary-color: #ececec;
  --secondary-color: #222;
  --accent-color: #ff6900;
  --error-color: #9b3737;
  --success-color: #357a55;
  --font-main: 'Roboto Mono', monospace;
  --fw-regular: 400;
  --fw-medium: 500;
  --spacing-module: 4px;
  --spacing-x1: var(--spacing-module);
  --spacing-x2: calc(var(--spacing-module) * 2);
  --spacing-x3: calc(var(--spacing-module) * 3);
  --spacing-x4: calc(var(--spacing-module) * 4);
  --spacing-x5: calc(var(--spacing-module) * 5);
  --spacing-x10: calc(var(--spacing-module) * 10);
  --spacing-x13: calc(var(--spacing-module) * 13);
}

[data-theme='dark'] {
  --primary-color: #181e22;
  --secondary-color: #ececec;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: var(--font-main);
  color: var(--secondary-color);
  background-color: var(--primary-color);
}
