*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
a,
button {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  user-select: none;
  border: none;
  background-color: transparent;
}

ul,
ol {
  list-style-type: none;
}

address {
  font-style: normal;
}
