:host,
.empty {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 744px;

  text-align: center;
}

.empty {
  &__description {
    margin-block-start: var(--spacing-x4);
  }
}
