@use 'assets/styles/mixins' as mix;

.category-card {
  padding: var(--spacing-x6);
  border: 2px solid var(--secondary-color);
  border-radius: var(--radius-md);

  @include mix.media('s') {
    padding: var(--spacing-x4);
  }

  &__header {
    display: flex;
    gap: var(--spacing-x3);
    justify-content: space-between;

    @include mix.media('s') {
      flex-direction: column;
    }
  }

  &__heading {
    overflow-wrap: break-word;
  }

  &__progress {
    width: 100%;
    max-width: 300px;
    height: fit-content;

    @include mix.media('s') {
      max-width: none;
    }
  }

  &__body,
  &__footer {
    margin-block-start: var(--spacing-x2);
  }
}
