@use 'assets/styles/mixins.scss' as m;
@use 'assets/styles/functions' as fn;
@use 'assets/styles/placeholders';

:host {
  @extend %host-base;

  &.active .button__text {
    border-bottom-color: var(--accent-color);
  }
}

.button {
  $this: &;

  display: inline-flex;

  width: 100%;
  height: 100%;
  border-radius: var(--radius-sm);

  text-transform: capitalize;

  @include m.transition((background-color, transform, box-shadow, border-color, opacity));

  ::ng-deep .icon {
    @include m.transition(color);
  }

  &__wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &_icon-end {
      flex-direction: row-reverse;
    }
  }

  &__text {
    @include m.transition((border-color, color));
    border-bottom: 1px solid transparent;
  }

  &__spin {
    @extend %position-center;
    display: none;
  }

  &_primary {
    padding: var(--spacing-x4) var(--spacing-x5);
    color: var(--primary-color);
    background-color: var(--btn-bg-color);

    @include m.hover {
      transform: translate(fn.to-rem(-4px), fn.to-rem(-4px));
      background-color: var(--accent-color);
      box-shadow: fn.to-rem(4px) fn.to-rem(4px) var(--secondary-color);
    }

    @include m.active {
      transform: translate(0);
      box-shadow: none;
    }

    &:focus-visible {
      outline: var(--button-border);
      outline-offset: 0;
    }

    #{$this}__wrapper {
      gap: var(--spacing-x2);
    }
  }

  &_ghost,
  &_ghost_brand {
    padding: var(--spacing-x1);
    color: var(--secondary-color);

    #{$this}__wrapper {
      gap: var(--spacing-x1);
    }

    @include m.hover {
      ::ng-deep .icon {
        color: var(--accent-color);
      }

      .button__text {
        border-bottom-color: var(--secondary-color);
      }
    }

    &:focus-visible {
      outline: var(--button-border);
      outline-offset: 2px;
    }
  }

  &_ghost_brand {
    font-weight: var(--fw-medium);
    color: var(--accent-color);
  }

  &:disabled {
    cursor: not-allowed;
    text-decoration: none;
    opacity: 0.4;
    filter: saturate(0.1);
  }

  &_loading {
    &#{&} {
      position: relative;
      opacity: initial;
      filter: initial;

      #{$this}__wrapper {
        @extend %hidden;
      }

      #{$this}__spin {
        display: inline-flex;
      }
    }
  }

  &_size {
    &_s {
      padding: var(--spacing-x2) var(--spacing-x3);
    }
  }
}
