.categories-page {
  &__header {
    display: flex;
    gap: var(--spacing-x4);
    align-items: end;
    justify-content: space-between;

    text-transform: capitalize;
  }

  &__category-card-list {
    margin-block-start: var(--spacing-x10);
  }
}
