@use 'assets/styles/mixins' as m;

.user {
  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-x5);
    align-items: flex-end;
    @include m.media('s') {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__avatar,
  &__info-section {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x2);
  }

  &__name {
    margin-bottom: var(--spacing-x5);
    font-weight: var(--fw-medium);
  }

  &__button-section {
    align-self: flex-start;
    margin-left: auto;
  }
}

.avatar {
  aspect-ratio: 1/1;
  height: 240px;
  border-radius: var(--radius-xs);
  @include m.media('xs') {
    height: 200px;
  }
}
