.form {
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.text-area {
  resize: none;

  overflow-y: auto;

  width: 100%;
  height: 16px;
  max-height: 200px;
  border: 0;

  line-height: 16px;

  background-color: inherit;

  &:focus {
    outline: none;
  }
}

.submit {
  cursor: pointer;
  background-color: inherit;

  &:disabled {
    pointer-events: none;
  }
}
