.form {
  display: flex;
  align-items: center;

  padding-right: 10px;
  padding-left: 10px;
  border: 1px solid #222;
  border-radius: 5px;

  background-color: #333;
}

.text-area {
  resize: none;

  overflow: hidden;

  width: 100%;
  height: 16px;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;

  font-size: 16px;
  line-height: 16px;
  color: #fff;

  background-color: inherit;

  &:focus {
    outline: none;
  }
}

.submit {
  cursor: pointer;

  width: 30px;
  height: 30px;
  border: 0;

  font-size: 20px;
  font-weight: 800;
  color: orange;

  background-color: inherit;

  transition-duration: 0.25s;

  &:hover {
    color: rgb(255 255 0);
  }

  &:active {
    opacity: 0.75;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.2;
  }
}
