.form {
  display: flex;
  align-items: center;

  border: 1px solid var(--secondary-color);
  border-radius: var(--radius-md);

  box-shadow: var(--shadow);
}

.text-area {
  resize: none;

  overflow-y: auto;

  width: 100%;
  min-height: 52px;
  max-height: 200px;
  padding-top: var(--spacing-x4);
  padding-left: var(--spacing-x5);
  border: 0;

  font-size: 16px;
  line-height: 16px;

  background-color: inherit;

  &:focus {
    outline: none;
  }
}

.submit {
  margin-right: var(--spacing-x5);
}
