@use 'assets/styles/mixins' as m;

:host {
  @include m.full-page-section;
}

.modules {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  &__list {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-x6);

    margin: var(--spacing-x10) 0 var(--spacing-x13);

    ::ng-deep app-card {
      --card-header-min-height: 3rem;
    }

    @include m.media('s') {
      grid-auto-rows: auto;
      grid-template-columns: 1fr;

      ::ng-deep app-card {
        --card-header-min-height: auto;
        height: fit-content;
      }
    }
  }

  &__item {
    transform: translateY(30px) scale(0.95);
    opacity: 0;
    @include m.transition(
      (opacity, transform),
      var(--transition-duration-slow),
      cubic-bezier(0.25, 0.46, 0.45, 0.94)
    );

    &.is-in-view {
      transform: translateY(0) scale(1);
      opacity: 1;
    }

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        transition-delay: #{$i * 0.1}s;
      }
    }
  }

  &__button {
    align-self: flex-end;
  }
}
