.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: fit-content;
  height: 100%;
  padding: var(--spacing-x5) var(--spacing-x4);
  border: var(--card-border);
  border-radius: var(--radius-sm);

  box-shadow: var(--shadow);

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: var(--card-header-min-height, auto);
  }

  &__body {
    flex-grow: 1;
    margin: var(--spacing-x2) 0;
    hyphens: auto;
    text-align: justify;
  }

  &__footer {
    &_start {
      align-self: flex-start;
    }

    &_end {
      align-self: flex-end;
    }
  }
}
