:host {
  overflow-y: auto;
  display: block;
  flex: 1;

  width: 100%;
  padding: var(--spacing-x5);
  padding-bottom: 20%;
  border: 1px solid var(--secondary-color);
  border-radius: var(--radius-md);

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--radius-md);
    background: var(--secondary-color);
  }
}

.user-message-row {
  display: flex;
  justify-content: end;
  width: 100%;
}

.user-message {
  max-width: 70%;
  margin-top: var(--spacing-x3);
  margin-bottom: var(--spacing-x3);
  padding: var(--spacing-x3);
  border: 1px solid var(--accent-color);
  border-radius: var(--radius-md);

  overflow-wrap: anywhere;
}

.assistant-message {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x3);

  width: 100%;

  overflow-wrap: anywhere;

  ::ng-deep ol,
  ::ng-deep ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x2);

    li {
      margin-left: var(--spacing-x10);
      list-style-type: circle;
    }

    li li {
      margin-left: var(--spacing-x10);
      list-style-type: square;
    }
  }

  ::ng-deep pre {
    padding: var(--spacing-x3);
    border-radius: var(--radius-md);
    background-color: var(--code-bg-color);
  }

  ::ng-deep code {
    padding: 1px;
    padding-right: var(--spacing-x1);
    padding-left: var(--spacing-x1);
    border-radius: var(--radius-sm);

    background-color: var(--code-bg-color);
  }
}
