:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  padding: 20px;
  border: 1px solid var(--secondary-color);
  border-radius: var(--radius-md);
}

.user-message-row {
  display: flex;
  justify-content: end;
  width: 100%;
}

.assistant-message {
  width: 100%;
}

.user-message {
  max-width: 60%;
  padding: 12px;
  border: 1px solid var(--accent-color);
  border-radius: var(--radius-md);

  overflow-wrap: anywhere;
}
