@use 'assets/styles/mixins.scss' as m;

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  min-width: 360px;
  max-width: 100%;

  @include m.media('s') {
    gap: 8px;
    min-width: 280px;
  }
}

app-button {
  margin-top: var(--spacing-x14);

  @include m.media('s') {
    margin-top: var(--spacing-x13);
  }
}
