:host {
  display: flex;
}

.alert {
  display: flex;
  gap: var(--spacing-x2);

  width: 100%;
  padding: var(--spacing-x2) var(--spacing-x3);
  border: 2px solid var(--info-border-color);
  border-radius: var(--radius-md);

  color: var(--info-text-color);

  background-color: var(--info-bg-color);

  &__icon {
    ::ng-deep .icon {
      color: var(--info-color);
    }
  }
}
