@use 'assets/styles/placeholders';

:host {
  @extend %host-base;
}

.icon {
  aspect-ratio: 1;

  &_size {
    &_l {
      width: 40px;
    }

    &_m {
      width: 24px;
    }
  }

  // TODO: when colors are ready in UI Kit, use variables
  &_color {
    &_neutral {
      color: #222;
    }

    &_brand {
      color: #ff6900;
    }
  }
}
