@use 'assets/styles/mixins' as mix;

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.results-page {
  &__heading {
    text-align: center;
  }

  &__subheading {
    margin-block-start: var(--spacing-x3);
    font-weight: 400;
    text-align: center;
  }

  &__progress {
    text-decoration: underline;
    text-underline-offset: 4px;

    &#{&} {
      text-decoration-color: var(--accent-color);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;

    margin-block-start: var(--spacing-x10);
    padding: var(--spacing-x9) var(--spacing-x10);
    border: 2px solid var(--secondary-color);
    border-radius: var(--radius-md);

    @include mix.media('s') {
      margin-block-start: var(--spacing-x7);
      padding: var(--spacing-x4);
    }
  }

  &__recommendations {
    margin-block-start: var(--spacing-x7);
  }

  &__reading-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x1);

    margin-block-start: var(--spacing-x1);
    margin-inline-start: var(--spacing-x4);

    list-style-type: initial;
  }

  &__reading-link {
    ::ng-deep {
      .button {
        text-transform: none;
      }

      .button__text {
        overflow-wrap: anywhere;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: var(--spacing-x4);
    margin: var(--spacing-x8) auto 0;

    @include mix.media('s') {
      flex-direction: column;
    }
  }

  &__empty {
    margin: auto;
  }

  &__nav-buttons {
    display: flex;
    gap: var(--spacing-x4);
    margin-block-start: var(--spacing-x4);

    @include mix.media('s') {
      flex-direction: column;
    }
  }
}
