@use 'assets/styles/mixins' as mix;

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.category-page {
  &__header {
    display: flex;
    gap: var(--spacing-x4);
    align-items: end;
    justify-content: space-between;

    @include mix.media('s') {
      flex-direction: column;
      align-items: start;
    }
  }

  &__progress {
    width: 100%;
    max-width: 300px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-block-start: var(--spacing-x10);

    @include mix.media('s') {
      margin-block-start: var(--spacing-x7);
    }
  }

  &__filters {
    display: flex;
    gap: var(--spacing-x2);

    @include mix.media('m') {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include mix.media('xs') {
      grid-template-columns: 1fr;
    }
  }

  &__topic-card-list {
    margin-block-start: var(--spacing-x6);
  }

  &__empty-filters {
    margin: calc(var(--spacing-x12) * 2) auto;
  }

  &__reset-filters-button {
    margin-block-start: var(--spacing-x4);
  }

  &__empty {
    margin: auto;
  }

  &__nav-buttons {
    display: flex;
    gap: var(--spacing-x4);
    margin-block-start: var(--spacing-x4);

    @include mix.media('s') {
      flex-direction: column;
    }
  }
}
