@use 'assets/styles/placeholders';
@use 'assets/styles/mixins.scss' as m;

:host,
.icon-button {
  @extend %host-base;

  ::ng-deep .icon {
    @include m.transition(all, var(--transition-duration-basic), var(--transition-easing-func));
  }

  &:focus-visible {
    border-radius: var(--radius-sm);
    outline: var(--button-border);
    outline-offset: 2px;
  }

  &:disabled {
    cursor: not-allowed;
    text-decoration: none;
    opacity: 0.4;
    filter: saturate(0.1);
  }

  @include m.hover {
    ::ng-deep .icon {
      color: var(--accent-color);
    }
  }
}
