@use 'assets/styles/mixins' as m;

.avatar-edit {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x5);
  align-items: center;

  &__main {
    display: flex;
  }

  &__large {
    aspect-ratio: 1/1;
    border-radius: var(--radius-xs);
    object-fit: cover;
    background-color: #d6d6d6;
    @include m.transition(transform);
  }

  &__carousel {
    display: flex;
    gap: var(--spacing-x1);
    align-items: center;
  }

  .carousel-arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5rem;
    line-height: 1;
    color: var(--secondary-color);
    @include m.media('s') {
      font-size: 2rem;
    }
  }

  .carousel-items {
    display: flex;
    gap: var(--spacing-x3);

    @include m.media('xs') {
      gap: var(--spacing-x2);
    }

    &__button {
      border-radius: var(--radius-xs);
      @include m.transition(all);

      &:focus-visible {
        outline: 2px solid var(--accent-color);
        outline-offset: 2px;
      }

      @include m.hover {
        .carousel-items__small {
          transform: scale(1.1);
          opacity: 1;
        }
      }

      &.selected {
        .carousel-items__small {
          transform: scale(1.1);
          opacity: 1;
        }
      }

      &.selected {
        .carousel-items__small {
          border-color: var(--accent-color);
          border-radius: var(--radius-md);
        }
      }
    }

    &__small {
      display: block;

      width: 60px;
      height: 60px;
      border: 2px solid transparent;
      border-radius: var(--radius-xs);

      font-size: var(--font-size-xs);

      opacity: 0.7;
      object-fit: cover;
      @include m.transition(all);
    }
  }
}
